<div id="tpl-error" class="content container">

	<div class="row text-center">

		<i class="fa fa-ambulance"></i>

		<h1>{{code}} <small>{{#if message}}{{message}}{{else}}Unexpected Error{{/if}}</small></h1>

	</div>

	{{#if error}}

		<div class="row">

	  	<div class="alert alert-info" role="alert">Only showing the following information in development mode.</div>

	  	<h2>Stack Trace</h2>
	  	<p><pre style="background-color:#111;padding:10px;"><code style="color:#eee !important;">{{error}}</code></pre></p>

	  	<h2>Request</h2>
	  	<p><pre style="background-color:#111;padding:10px;"><code style="color:#eee !important;">{{req}}</code></pre></p>

	  	<h2>Environment</h2>
	  	<p><pre style="background-color:#111;padding:10px;"><code style="color:#eee !important;">{{env}}</code></pre></p>

		</div>

	{{/if}}

</div>
