<div id="tpl-help">

  {{> header subtitle="Get Help"}}

  <div class="container body">

    <div class="alert alert-success" role="alert"><strong>Attention:</strong> We are <a href="http://www.appcelerator.com/blog/2016/01/embracing-stack-overflow-for-appcelerator-community-support/" target="_blank">embracing Stack Overflow for Appcelerator Community Support</a>. The former Q&amp;A's have been <a href="https://archive.appcelerator.com" target="_blank">archived</a>.</div>

    <div class="row">

      <div class="col-sm-8">

        <div class="well">
          <h2>Ask the Community <a href="https://stackoverflow.com/questions/ask/?tags=appcelerator" class="btn btn-danger pull-right">Ask a Question <i class="fa fa-stack-overflow"></i></a></h2>
          <br />
          <p>Join Stack Overflow - the biggest and brightest Q&amp;A for programmers! Always include <a href="https://stackoverflow.com/tags/appcelerator" target="_blank" title="Go to our tag on Stack Overflow">#appcelerator</a> and add <a href="https://stackoverflow.com/tags/appcelerator/info" target="_blank" title="Read about suggested additional tags on Stack Overflow">additional tags</a>. <em>Help Yourself</em> and <em>Check for Known Issues</em> before <a href="http://stackoverflow.com/help/how-to-ask" target="_blank" title="Learn how to ask a good question on Stack Overflow">asking a good question</a>.</p>
          <p>To chat with other Appcelerator developers, join the community initiative <a href="http://tislack.org" target="_blank" title="Go to TiSlack">TiSlack</a>.</p>
        </div>

        <div class="panel panel-default questions">
          <div class="panel-body">
            <h2>Answer the Community</h2>
            <p>Answer some questions and join the <a href="https://stackoverflow.com/tags/appcelerator/topusers" target="_blank" title="Meet our Top Answerers on Stack Overflow">ranks</a>!</p>
          {{#if recentQuestions}}
          </div>
          <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="https://stackoverflow.com/questions/tagged/appcelerator?sort=newest" target="_blank" title="Go to Stack Overflow">Newest Questions</a></li>
            <li role="presentation"><a href="https://stackoverflow.com/unanswered/tagged/appcelerator?tab=noanswers" target="_blank" title="Go to Stack Overflow">Unanswered Questions</a></li>
            <li role="presentation"><a href="https://stackoverflow.com/tags/appcelerator/new" target="_blank" title="Go to Stack Overflow">Newest Answers</a></li>
  				</ul>
          <div class="panel-body">
            {{#each recentQuestions}}
              <div class="media">
                <div class="media-left">
                  <a href="{{owner.link}}" title="{{owner.display_name}}">
                    <img src="{{owner.profile_image}}" class="img-rounded media-object" alt="{{owner.display_name}}" />
                  </a>
                </div>
                <div class="media-body"><a href="{{link}}" target="_blank">{{title}}</a></div>
              </div>
            {{/each}}
          {{else}}
            <br />
            <a href="https://stackoverflow.com/questions/tagged/appcelerator?sort=newest" class="btn btn-default">Newest Questions</a>
            <a href="https://stackoverflow.com/unanswered/tagged/appcelerator?tab=noanswers" class="btn btn-default">Unanswered Questions</a>
            <a href="https://stackoverflow.com/tags/appcelerator/new" class="btn btn-default">Newest Answers</a>
          {{/if}}
          </div>
        </div>

      </div>

      <div class="col-sm-4">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Help Yourself <i class="fa fa-file-text-o pull-right"></i></h2>
          </div>
          <ul class="list-group">
            <li class="list-group-item"><a href="https://web.appcelerator.com/product/studio" target="_blank">Getting started with Studio or the CLI</a></li>
            <li class="list-group-item"><a href="https://docs.appcelerator.com" target="_blank">Documentation</a>: <a href="http://docs.appcelerator.com/platform/latest/#!/guide/Quick_Start" target="_blank">Quick Starts</a>, <a href="http://docs.appcelerator.com/platform/latest/#!/guide/Appcelerator_Platform_Troubleshooting" target="_blank">Troubleshooting</a></li>
            <li class="list-group-item"><a href="http://www.appcelerator.com/cat/developer/" target="_blank">Developer Blog Posts</a></li>
            <li class="list-group-item"><a href="https://university.appcelerator.com" target="_blank">Appcelerator University Videos</a></li>
            <li class="list-group-item"><a href="https://archive.appcelerator.com" target="_blank">Appcelerator Q&amp;A Archive</a> <span class="label label-warning">OUT-DATED</span></li>
          </ul>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Check for Known Issues <i class="fa fa-bug pull-right"></i></h2>
          </div>
          <ul class="list-group">
            <li class="list-group-item"><a href="http://status.appcelerator.com" target="_blank">Check the Platform Status</a></li>
            <li class="list-group-item"><a href="http://docs.appcelerator.com/platform/latest/" target="_blank">Check the Release Notes</a></li>
            <li class="list-group-item"><a href="https://jira.appcelerator.org/issues/?jql=" target="_blank">Search for Issues on JIRA</a></li>
          </ul>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Report a Bug or Request a Feature <i class="fa fa-lightbulb-o pull-right"></i></h2>
          </div>
          <ul class="list-group">
            <li class="list-group-item"><a href="http://docs.appcelerator.com/platform/latest/#!/guide/How_to_Submit_a_Bug_Report" target="_blank">How to Submit a Bug Report</a></li>
            <li class="list-group-item"><a href="https://jira.appcelerator.org/secure/CreateIssue!default.jspa?pid=12217" target="_blank">Create an Issue on JIRA</a></li>
          </ul>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Ask our Support <i class="fa fa-support pull-right"></i></h2>
          </div>
          <div class="panel-body">
            {{#if paidSupport}}
              <p>The plan for <em>{{user.org.name}}</em> gives you access to <a href="{{supportLink}}" target="_blank">Appcelerator Support</a>.</p>
              <a href="{{supportLink}}" target="_blank" class="btn btn-danger pull-right">Contact Support</a>
            {{else if user}}
              <p>The current plan for <em>{{user.org.name}}</em> does not include Appcelerator Support. Please consider our other <a href="http://www.appcelerator.com/pricing/" target="_blank">Plans</a> or <em>Ask the Community</em>.</p>
              <a href="https://billing.appcelerator.com" target="_blank" class="btn btn-danger pull-right">Manage your Plan</a>
            </div>
            <div class="panel-body bg-info text-info">
              For questions related to Account &amp; Billing contact <a href="mailto:support@appceleratior.com">support@appcelerator.com</a> from the email address linked to your account.
            {{else}}
              <p>You are not logged in, so we can't tell if you have access to Appcelerator Support.</p>
              <a href="{{appc_platform_url}}/#/auth/signin?redirect={{baseurl}}" class="btn btn-danger pull-right">Sign In</a>
            {{/if}}
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
