<div id="tpl-index" class="content">

  <!-- LATEST -->
  <div id="latest" class="bg bg-photo">
    <div class="container">

      <a href="http://www.appcelerator.com/cat/developer/feed" target="_blank" class="btn btn-rss pull-right"><i class="fa fa-rss"></i> RSS</a>
			<p class="meta"><small><date title="{{formatDate devblog.[0].published 'MMMM Do YYYY, h:mm:ss a'}}">{{formatDate devblog.[0].published 'MMMM Do, YYYY'}}</date> by {{devblog.[0].author}} on <a href="http://www.appcelerator.com/cat/developer" target="_blank">Developer Blog</a></small></p>

			<hr />

			<a href="{{devblog.[0].link}}" target="_blank" class="clean">
        <span class="btn btn-appc-light pull-right">Read</span>
        <div>
          <h1>{{devblog.[0].title}}</h1>
          <p class="subtitle">{{truncateStringTo (stripTags devblog.[0].description) 300}}</p>
        </div>
      </a>

    </div>
  </div>

  <!-- UPDATES -->
  <div id="updates" class="bg">
    <div class="container">
      <div class="row">

        <div class="col-sm-6">

          <a href="https://twitter.com/appcdev" target="_blank" class="btn btn-sm btn-twitter pull-right"><i class="fa fa-twitter"></i> AppcDev</a>
          <h2><a href="http://www.appcelerator.com/cat/developer" target="_blank">Earlier on the Developer Blog</a></h2>
          <p><small>The latest News for Developers by Appcelerator</small></p>

          <hr />

          {{#each devblog}}
            {{#unless @first}}
            <a href="{{link}}" target="_blank" class="update clean">
              <i class="arrow icon-angle-right pull-right"></i>
              <div>
                <h3>{{title}}</h3>
                <p class="meta"><date title="{{formatDate published 'MMMM Do YYYY, h:mm:ss a'}}">{{formatDate published 'MMMM Do, YYYY'}}</date> by <span class="author">{{author}}</span></p>
              </div>
            </a>
            {{/unless}}
          {{/each}}

        </div>

        <div class="col-sm-6">

          <a href="/updates" class="btn btn-appc-dark-clean btn-sm pull-right">More</a>
          <h2><a href="/updates" target="_blank">Updates from elsewhere</a></h2>
          <p><small>The latest from around the Appcelerator Universe</small></p>

          <hr />

          {{#each updates}}
            <a href="{{link}}" target="_blank" class="update clean">
              <i class="arrow icon-angle-right pull-right"></i>
              <div>
                <h3>{{title}}</h3>
                <p class="meta"><date title="{{formatDate published 'MMMM Do YYYY, h:mm:ss a'}}">{{formatDate published 'MMMM Do, YYYY'}}</date> at <span class="author">{{author}}</span></p>
              </div>
            </a>
          {{/each}}

        </div>

      </div>
    </div>
  </div>

  <!-- PRODUCTS -->
  <div id="products" class="bg bg-colors">
    <div class="container">

      <div class="row">
        <div class="col-sm-10">
          <h2>Apps, APIs and Analytics</h2>
          <p class="subtitle">Everything you need for Cross-Platform <strong>Native</strong> Mobile Apps — All from a single <strong>JavaScript</strong> codebase.</p>
        </div>
        <div class="col-sm-2 text-right">
          <a href="http://www.appcelerator.com/mobile-app-development-products/" target="_blank" class="btn btn-md btn-appc-light">Explore <i class="icon-angle-right"></i></a>
        </div>
      </div>

      <hr />

      <div class="row">

        <div class="col-sm-4">
          <a href="http://www.appcelerator.com/mobile-app-development-products/#AppsSect" target="_blank" class="clean text-center">
            <p><i class="products-icon icon-ti"></i></p>
            <h3>Titanium</h3>
            <p class="subtitle">Single <strong>JavaScript</strong> codebase. Truly <strong>Native</strong> Mobile Apps for iOS, Android and Windows.</p>
          </a>
        </div>

        <div class="col-sm-4">
          <a href="http://www.appcelerator.com/mobile-app-development-products/mbaas-arrow/" target="_blank" class="clean text-center">
            <p><i class="products-icon icon-arrow_mark"></i></p>
            <h3>Arrow</h3>
            <p class="subtitle">Your very own <strong>MBaaS</strong>. Opinionated <strong>API</strong> framework. Scalable <strong>Cloud</strong> Services &amp; <strong>Notifications</strong>.</p>
          </a>
        </div>

        <div class="col-sm-4">
          <a href="http://www.appcelerator.com/mobile-app-development-products/#AnalyticsSect" target="_blank" class="clean text-center">
            <p><i class="products-icon icon-appc_logo-white-2"></i></p>
            <h3>Appcelerator Platform</h3>
            <p class="subtitle">App <strong>Analytics</strong>, Mobile <strong>Test</strong> Automation, Performance &amp; <strong>Crash Analytics</strong>, Professional Support and more.</p>
          </a>
        </div>

      </div>

    </div>
  </div>

  <!-- GET STARTED -->
  <div id="start" class="bg bg-triangles-light">
    <div class="container">

      <div class="text-center">
        <h2><i class="icon-flash"></i> Get Started FREE and Fast</a></h2>
        <small class="text-muted">From Zero to App &amp; API</small>
      </div>

      <hr />

      <a href="http://www.appcelerator.com/signup/" target="_blank" class="step clean">
        <span class="circle pull-left">1</span>
        <i class="arrow icon-angle-right pull-right"></i>
        <h3>Sign-up for FREE!</h3>
        <p class="text-muted">Pay only when you decide to take your first app live</p>
      </a>

      <hr />

      <a href="https://web.appcelerator.com/product/studio" target="_blank" class="step clean">
        <span class="circle pull-left">2</span>
        <i class="arrow icon-angle-right pull-right"></i>
        <h3>Get Set-up</h3>
        <p class="text-muted">Install Studio or get our CLI from NPM</p>
      </a>

      <hr />

      <a href="http://docs.appcelerator.com/platform/latest/#!/guide/Quick_Start" target="_blank" class="step clean">
        <span class="circle pull-left">3</span>
        <i class="arrow icon-angle-right pull-right"></i>
        <h3>Get Started</h3>
        <p class="text-muted">Follow our Quick Start guides for Titanium and Arrow</p>
      </a>

      <hr />

      <a href="https://developer.appcelerator.com/help" target="_blank" class="step clean">
        <span class="circle pull-left">4</span>
        <i class="arrow icon-angle-right pull-right"></i>
        <h3>Join our Developer Community</h3>
        <p class="text-muted">Get help, and help others</p>
      </a>

    </div>
  </div>

  <!-- DEVELOPERS -->
  <div id="developers" class="bg bg-red">
    <div class="container">

      <div class="text-center">
        <h2><i class="fa fa-twitter"></i> Brought to you by Developers</a></h2>
        <small>We eat our own dogfood - This site runs on Arrow</small>
      </div>

      <hr />

      <div class="row row-centered">

        {{#each developers}}

          <div class="col-sm-2">
            <a href="https://twitter.com/{{username}}" target="_blank" title="@{{username}}" class="dev clean">
              <img src="https://twitter.com/{{username}}/profile_image?size=bigger" class="img-circle img-shadow" />
              <h3 class="ellipsis">{{name}}</h3>
              <p class="ellipsis"><small>{{title}}</small></p>
            </a>
          </div>

        {{/each}}

      </div>

    </div>
  </div>

  {{> footer}}

</div>

<script>
  $(document).ready(function() {
    crazyColors('.bg-colors', new Array([181, 13, 0], [0, 136, 204], [72, 72, 80], [255, 31, 31]));
  });
</script>
