<div id="tpl-index">

  <!-- CAROUSEL -->
  <div id="carousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
      <li data-target="#carousel" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <div class="carousel-content">
          <i class="icon-appc px24"></i>
          </p>
          </span>
          <h2 class="text-fancy2 mg-t-none">DEV PORTAL</h2>
        </div>
        <img src="/images/header-lg-bg-1.png" alt="...">
      </div>

      <div class="item">
        <div class="carousel-content">
          <h2 class="text-fancy">FANCY TEXT</h2>
          <p>Text can go here as well...</p>
        </div>
        <img src="/images/header-lg-bg-2.png" alt="...">
      </div>

      <div class="item">
        <div class="carousel-content">
          <span class="icon-arrow_mark px96"></span>
          <p>Include and icon up there if you want.</p>
        </div>
        <img src="/images/header-lg-bg-3.png" alt="...">
      </div>

      <div class="item">
        <div class="carousel-content">
          <h2>Yo dawg... you like buttons?</h2>
          <p>We have room for them here</p>
          <a href="dev.html" class="btn btn-appc-light">Look Ma, I'm a button!</a>
        </div>
        <img src="/images/header-lg-bg-4.png" alt="...">
      </div>

    </div>

    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="icon-prev icon-angle-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="icon-next icon-angle-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>

  <!-- Stay Informed & Blogs -->
  <div class="bg-triangles-light">
    <div class="row">
      <div class="col-md-6 pd-l-none">
        <div>
          <a class="btn btn-sm btn-appc-rss pull-right mg-t-s mg-r-l" href="https://developer.appcelerator.com/feed" role="button"><i class="icon-rss pd-r-s "></i>RSS</a>
          <a href="dev.html" class="px24 wt-300 dpgry">Blogs
          <p class="px12">From the Appcelerator Community</p>
          <hr />
          </a>
        </div>
        <div class="pd-l-none">
          <div class="list-group">
            <a href="#" class="list-group-item pd-l-none bg-special ">
              <i class="icon-angle-right pull-right"></i><span class="px24 wt-300"><i class="fa fa-bookmark px36 pull-left pd-r-s pd-t-s"></i>Dash for offline API reference with Stack Overflow fallback</span>
              <p class="px12 ltgry">
                February 11, 2016 by <span class="mdgry">Fokke Zandbergen</span>
              </p>
            </a>
            <a href="#" class="list-group-item pd-l-none">
              <i class="icon-angle-right pull-right"></i>Appcelerator Arrow Two-Factor Authentication
              <p class="px12 ltgry">
                February 10, 2016 by <span class="mdgry">Leor Brenman</span>
              </p>
            </a>
            <a href="#" class="list-group-item pd-l-none">
              <i class="icon-angle-right pull-right"></i>Using Stack Overflow effectively
              <p class="px12 ltgry">
                February 5, 2016 <span class="mdgry">Fokke Zandbergen</span>
              </p>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 pd-l-none">
        <div>
          <a class="btn btn-sm btn-twitter pull-right mg-t-s mg-r-l" href="https://developer.appcelerator.com/feed" role="button"><i class="icon-twitter pd-r-s "></i>AppcDev</a>
          <a href="dev.html" class="px24 wt-300 dpgry">Stay Informed
              <p class="px12">The latest Appcelerator news and happenings...</p>
            </a>
          <hr />
        </div>
        <div class="pd-l-none">
          <div class="list-group">

            <a href="#" class="list-group-item pd-l-none">
              <i class="icon-angle-right pull-right"></i><span class="px24 wt-300"><i class="fa fa-medium px36 pull-left pd-r-s pd-t-s"></i>Setting contentType <br /> on AudioStreamer</span>
              <p class="px12 ltgry">
                January 21, 2016 by <span class="mdgry">abada</span>
              </p>
            </a>
            <a href="#" class="list-group-item pd-l-none">
              <i class="icon-angle-right pull-right"></i>Indexing for iOS9 Spotlight Search
              <p class="px12 ltgry">
                January 21, 2016 at <span class="mdgry">Appcelerator University</span>
              </p>
            </a>
            <a href="#" class="list-group-item pd-l-none">
              <i class="icon-angle-right pull-right"></i>[TC-5849] iPhone 6 splash screen faild
              <p class="px12 ltgry">
                January 21, 2016 on <span class="mdgry">JIRA</span>
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PRODUCTS -->
  <div id="products" class="bg-colors">
    <div class="container">

      <div class="row">
        <div class="col-md-9">
          <h2 class="title">The Appcelerator Eco-system</h2>
          <p><small>Everything you need to create great, native mobile apps—all from a single JavaScript code base.</small></p>
        </div>
        <div class="col-md-3 text-right">
          <a href="http://www.appcelerator.com/mobile-app-development-products/" target="_blank" class="btn btn-md btn-appc-light">Explore our products... <i class="icon-angle-right"></i></a>
        </div>
      </div>

      <hr />

      <div class="row">

        <div class="col-md-4">
          <a href="http://www.appcelerator.com/mobile-app-development-products/#AppsSect" target="_blank" class="clean text-center">
            <p><i class="products-icon icon-ti"></i></p>
            <h3 class="title">Titanium</h3>
            <p>Single JavaScript codebase. <strong>Native</strong> Apps for iOS, Android and Windows.</p>
          </a>
        </div>

        <div class="col-md-4">
          <a href="http://www.appcelerator.com/mobile-app-development-products/mbaas-arrow/" target="_blank" class="clean text-center">
            <p><i class="products-icon icon-arrow_mark"></i></p>
            <h3 class="title">Arrow</h3>
            <p>Your very own MBaaS. Opinionated API framework. Scalable Cloud Services.</p>
          </a>
        </div>

        <div class="col-md-4">
          <a href="http://www.appcelerator.com/mobile-app-development-products/#AnalyticsSect" target="_blank" class="clean text-center">
            <p><i class="products-icon icon-appc_logo-white-2"></i></p>
            <h3 class="title">Appcelerator Platform</h3>
            <p>Mobile Test Automation, App Analytics, Performance &amp; Crash Analytics, Professional Support and more.</p>
          </a>
        </div>

      </div>

    </div>
  </div>

  <!-- GET STARTED -->
  <div id="start" class="bg-triangles-light">
    <div class="container">

      <div class="text-center">
        <h2 class="title"><i class="icon-flash"></i> Get up and running quickly</a></h2>
        <small class="text-muted">Sign-up, set-up, &amp; build</small>
      </div>

      <hr />

      <a href="http://www.appcelerator.com/signup/" target="_blank" class="step clean">
        <span class="circle pull-left">1</span>
        <i class="arrow icon-angle-right pull-right"></i>
        <h3 class="title">Sign-up for free!</h3>
        <p class="text-muted">Pay only when you decide to take your first app live</p>
      </a>

      <hr />

      <a href="https://web.appcelerator.com/product/studio" target="_blank" class="step clean">
        <span class="circle pull-left">2</span>
        <i class="arrow icon-angle-right pull-right"></i>
        <h3 class="title">Get set-up</h3>
        <p class="text-muted">Install Studio or get our CLI from NPM</p>
      </a>

      <hr />

      <a href="http://docs.appcelerator.com/platform/latest/#!/guide/Quick_Start" target="_blank" class="step clean">
        <span class="circle pull-left">3</span>
        <i class="arrow icon-angle-right pull-right"></i>
        <h3 class="title">Getting Started</h3>
        <p class="text-muted">Follow our quick start guides for Titanium and Arrow</p>
      </a>

      <hr />

      <a href="https://developer.appcelerator.com/help" target="_blank" class="step clean">
        <span class="circle pull-left">4</span>
        <i class="arrow icon-angle-right pull-right"></i>
        <h3 class="title">Join the community</h3>
        <p class="text-muted">Get help, and help others</p>
      </a>

    </div>
  </div>

  <!-- DEVELOPERS -->
  <div id="developers" class="bg-red">
    <div class="container">

      <div class="text-center">
        <h2 class="title"><i class="fa fa-twitter"></i> Brought to you by Developers</a></h2>
        <small>Follow us on Twitter</small>
      </div>

      <hr />

      <div class="row row-centered">

        {{#each developers}}

          <div class="col-sm-2">
            <a href="https://twitter.com/{{username}}" target="_blank" title="@{{username}}" class="dev clean">
              <img src="https://twitter.com/{{username}}/profile_image?size=bigger" class="img-circle img-shadow" />
              <h3 class="subtitle ellipsis">{{name}}</h3>
              <p class="ellipsis"><small>{{title}}</small></p>
            </a>
          </div>

        {{/each}}

      </div>

  </div>
</div>

  <!-- Large Footer -->
  <div class="containerDarkGrey">
    <div class="row">
      <div class="col-md-2">
        <div class="list-group px12 subgry">
          <span href="#" class="list-group-item-heading red">
            Products</span>
          <a href="#" class="list-group-item subgry pd-b-none">Appcelerator Platform</a>
          <a href="#" class="list-group-item subgry">
            Plans & Pricing</a>
          <br />
          <span href="#" class="list-group-item-heading red">
            Customers</span>
          <a href="#" class="list-group-item subgry pd-b-none">Our Customers</a>
          <a href="#" class="list-group-item subgry pd-b-none">
            Case Studies</a>
          <a href="#" class="list-group-item subgry pd-b-none">App Showcase</a>
          <br />
          <span href="#" class="list-group-item-heading red">
            Enterprise</span>
          <a href="#" class="list-group-item subgry">Overview</a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="list-group px12">
          <span href="#" class="list-group-item-heading red">
            Developers</span>
          <a href="#" class="list-group-item subgry pd-b-none">App U</a>
          <a href="#" class="list-group-item subgry pd-b-none">
            Get Help</a>
          <a href="#" class="list-group-item subgry pd-b-none">Documentation</a>
          <a href="#" class="list-group-item subgry pd-b-none">
            Marketplace</a>
          <a href="#" class="list-group-item subgry">Events</a>
          <br />
          <span href="#" class="list-group-item-heading red">
            Open Source</span>
          <a href="#" class="list-group-item subgry pd-b-none">Titanium<sup>&reg;</sup></a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="list-group px12">
          <span href="#" class="list-group-item-heading red">
            Blogs</span>
          <a href="#" class="list-group-item subgry pd-b-none">Developer</a>
          <a href="#" class="list-group-item subgry pd-b-none">
            Enterprise</a>
          <a href="#" class="list-group-item subgry pd-b-none">Product Updates</a>
          <br />
          <span href="#" class="list-group-item-heading red">
            About</span>
          <a href="#" class="list-group-item subgry pd-b-none pd-b-none">Company</a>
          <a href="#" class="list-group-item subgry pd-b-none">
            Careers</a>
          <a href="#" class="list-group-item subgry pd-b-none pd-b-none">Leadership</a>
          <a href="#" class="list-group-item subgry pd-b-none">
            White Papers</a>
          <a href="#" class="list-group-item subgry pd-b-none">Research</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="px18 wt-300 wht pd-b-s" id="foot-block">
          Reach out &amp; stay in touch!
        </div>
        <!-- Button farm -->
        <p><a href="#" class="btn btn-xs btn-foot mg-r-m brdr-none" role="button"><i class="icon-twitter px18"></i></a> <a href="#" class="btn btn-xs btn-foot mg-r-m brdr-none" role="button"><i class="icon-github px18"></i></a>
          <a href="#" class="btn btn-xs btn-foot mg-r-m brdr-none" role="button"><i class="icon-linkedin px18"></i></a>
        </p>
        <div id="foot-paragraph">
          <img src="../images/appc-axway-logo-sm.png" class="img-responsive" alt="appc axway logo" />
          <p class="wht pd-t-m">
            &copy; 2008-2016 Appcelerator Inc. All rights reserved. Appcelerator and Titanium are registered <a href="#" class="wht">trademarks</a>
          </p>
          <p><a href="#" class="btn btn-xs btn-link pd-l-none" role="button">Help &amp; Support</a> <a href="#" class="btn btn-xs btn-link" role="button">Privacy Policy</a> <a href="#" class="btn btn-xs btn-link" role="button">Legal Information</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
  $(document).ready(function() {

    $('.carousel').carousel({
      interval: 5000
    });

    crazyColors('.bg-colors', new Array([181, 13, 0], [0, 136, 204], [72, 72, 80], [255, 31, 31]));

  });
</script>
