<div id="tpl-index">

  <!-- LATEST -->
  <div id="latest" class="bg bg-photo">
    <div class="container">

      <a href="http://www.appcelerator.com/cat/developer/feed" target="_blank" class="btn btn-rss pull-right"><i class="fa fa-rss"></i> RSS</a>
			<p><date title="{{formatDate devblog.[0].published 'MMMM Do YYYY, h:mm:ss a'}}">Latest Developer Blog by {{devblog.[0].author}} on {{formatDate devblog.[0].published 'MMMM Do, YYYY'}}</p>

			<hr />

			<a href="{{devblog.[0].link}}" target="_blank">
        <span class="btn btn-appc-light pull-right">Read</span>
        <h1>{{devblog.[0].title}}</h1>
        <p>{{truncateStringTo (stripTags devblog.[0].content) 300}}</p>
      </a>

    </div>
  </div>

  <!-- UPDATES -->
  <div id="updates" class="bg">
    <div class="container">
      <div class="row">

        <div class="col-md-6">

          <a href="https://twitter.com/appcdev" target="_blank" class="btn btn-sm btn-twitter pull-right"><i class="fa fa-twitter"></i> @AppcDev</a>
          <h2 class="title"><a href="http://www.appcelerator.com/cat/developer" target="_blank">Developer Blog</a></h2>
          <p><small>The latest Appcelerator News for Developers</small></p>

          <hr />

          {{#each devblog}}
            {{#unless @first}}
            <a href="{{link}}" target="_blank" class="update clean">
              <i class="arrow icon-angle-right pull-right"></i>
              <div>
                <h3 class="subtitle">{{title}}</h3>
                <p class="meta"><date title="{{formatDate published 'MMMM Do YYYY, h:mm:ss a'}}">{{formatDate published 'MMMM Do, YYYY'}}</date> by <span class="author">{{author}}</span></p>
              </div>
            </a>
            {{/unless}}
          {{/each}}

        </div>

        <div class="col-md-6">

          <h2 class="title"><a href="/updates" target="_blank">Get Up to Date</a></h2>
          <p><small>The latest updates from around the Appcelerator universe</small></p>

          <hr />

          {{#each updates}}
            <a href="{{link}}" target="_blank" class="update clean">
              <i class="arrow icon-angle-right pull-right"></i>
              <div>
                <h3 class="subtitle">{{title}}</h3>
                <p class="meta"><date title="{{formatDate published 'MMMM Do YYYY, h:mm:ss a'}}">{{formatDate published 'MMMM Do, YYYY'}}</date> at <span class="author">{{author}}</span></p>
              </div>
            </a>
          {{/each}}

        </div>

      </div>
    </div>
  </div>

  <!-- PRODUCTS -->
  <div id="products" class="bg bg-colors">
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <h2 class="title">The Appcelerator Eco-system</h2>
          <p><small>Everything you need to create great, native mobile apps—all from a single JavaScript code base.</small></p>
        </div>
        <div class="col-sm-4 text-right">
          <a href="http://www.appcelerator.com/mobile-app-development-products/" target="_blank" class="btn btn-md btn-appc-light">Explore our products... <i class="icon-angle-right"></i></a>
        </div>
      </div>

      <hr />

      <div class="row">

        <div class="col-md-4">
          <a href="http://www.appcelerator.com/mobile-app-development-products/#AppsSect" target="_blank" class="clean text-center">
            <p><i class="products-icon icon-ti"></i></p>
            <h3 class="title">Titanium</h3>
            <p>Single JavaScript codebase. <strong>Native</strong> Apps for iOS, Android and Windows.</p>
          </a>
        </div>

        <div class="col-md-4">
          <a href="http://www.appcelerator.com/mobile-app-development-products/mbaas-arrow/" target="_blank" class="clean text-center">
            <p><i class="products-icon icon-arrow_mark"></i></p>
            <h3 class="title">Arrow</h3>
            <p>Your very own MBaaS. Opinionated API framework. Scalable Cloud Services.</p>
          </a>
        </div>

        <div class="col-md-4">
          <a href="http://www.appcelerator.com/mobile-app-development-products/#AnalyticsSect" target="_blank" class="clean text-center">
            <p><i class="products-icon icon-appc_logo-white-2"></i></p>
            <h3 class="title">Appcelerator Platform</h3>
            <p>Mobile Test Automation, App Analytics, Performance &amp; Crash Analytics, Professional Support and more.</p>
          </a>
        </div>

      </div>

    </div>
  </div>

  <!-- GET STARTED -->
  <div id="start" class="bg bg-triangles-light">
    <div class="container">

      <div class="text-center">
        <h2 class="title"><i class="icon-flash"></i> Get up and running quickly</a></h2>
        <small class="text-muted">Sign-up, set-up, &amp; build</small>
      </div>

      <hr />

      <a href="http://www.appcelerator.com/signup/" target="_blank" class="step clean">
        <span class="circle pull-left">1</span>
        <i class="arrow icon-angle-right pull-right"></i>
        <h3 class="title">Sign-up for free!</h3>
        <p class="text-muted">Pay only when you decide to take your first app live</p>
      </a>

      <hr />

      <a href="https://web.appcelerator.com/product/studio" target="_blank" class="step clean">
        <span class="circle pull-left">2</span>
        <i class="arrow icon-angle-right pull-right"></i>
        <h3 class="title">Get set-up</h3>
        <p class="text-muted">Install Studio or get our CLI from NPM</p>
      </a>

      <hr />

      <a href="http://docs.appcelerator.com/platform/latest/#!/guide/Quick_Start" target="_blank" class="step clean">
        <span class="circle pull-left">3</span>
        <i class="arrow icon-angle-right pull-right"></i>
        <h3 class="title">Getting Started</h3>
        <p class="text-muted">Follow our quick start guides for Titanium and Arrow</p>
      </a>

      <hr />

      <a href="https://developer.appcelerator.com/help" target="_blank" class="step clean">
        <span class="circle pull-left">4</span>
        <i class="arrow icon-angle-right pull-right"></i>
        <h3 class="title">Join the community</h3>
        <p class="text-muted">Get help, and help others</p>
      </a>

    </div>
  </div>

  <!-- DEVELOPERS -->
  <div id="developers" class="bg bg-red">
    <div class="container">

      <div class="text-center">
        <h2 class="title"><i class="fa fa-twitter"></i> Brought to you by Developers</a></h2>
        <small>Follow us on Twitter</small>
      </div>

      <hr />

      <div class="row row-centered">

        {{#each developers}}

          <div class="col-sm-2">
            <a href="https://twitter.com/{{username}}" target="_blank" title="@{{username}}" class="dev clean">
              <img src="https://twitter.com/{{username}}/profile_image?size=bigger" class="img-circle img-shadow" />
              <h3 class="subtitle ellipsis">{{name}}</h3>
              <p class="ellipsis"><small>{{title}}</small></p>
            </a>
          </div>

        {{/each}}

      </div>

    </div>
  </div>

  <!-- FOOTER -->
  <div id="footer" class="bg bg-triangles-dark">
    <div class="container">

      <div class="row">

        {{#each footerTop}}
          <div class="col-sm-2">
            <dl>
              <dt>{{title}}</dt>
              {{#each links}}
                <dd><a href="{{href}}" {{#if external}}target="_blank"{{/if}}>{{title}}</a></dd>
              {{/each}}
            </dl>
          </div>
        {{/each}}

        <div class="col-sm-4 social">
          <h2 class="subtitle">Reach out &amp; stay in touch!</h2>
          <p>
            <a href="https://twitter.com/AppcDev" class="btn btn-link btn-xs" role="button"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/appcelerator-developer-relations" class="btn btn-link btn-xs" role="button"><i class="fa fa-github"></i></a>
          </p>
        </div>

      </div>
      <div class="row">

        {{#each footerBottom}}
          <div class="col-sm-2">
            <dl>
              <dt>{{title}}</dt>
              {{#each links}}
                <dd><a href="{{href}}" {{#if external}}target="_blank"{{/if}}>{{title}}</a></dd>
              {{/each}}
            </dl>
          </div>
        {{/each}}

        <div class="col-sm-4 legal">
          <img src="/images/appc-logo.png" class="logo" alt="Appcelerator - Now Part Of AxWay" />
          <p>&copy; 2008-2016 Appcelerator Inc. All rights reserved. Appcelerator and Titanium are registered <a href="http://www.appcelerator.com/legal/trademark-policy/" target="_blank">trademarks</a>.</p>
          <p class="links"><a href="/help">Help &amp; Support</a> <a href="http://www.appcelerator.com/privacy/" target="_blank">Privacy Policy</a> <a href="http://www.appcelerator.com/legal/" target="_blank">Legal Information</a></p>
        </div>

      </div>

    </div>
  </div>

</div>

<script>
  $(document).ready(function() {
    crazyColors('.bg-colors', new Array([181, 13, 0], [0, 136, 204], [72, 72, 80], [255, 31, 31]));
  });
</script>
